.meBlock p .word {
  will-change: transform;
}

.scrollIndicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  transform-origin: left;
  transform: scaleX(var(--progress, 0));
  will-change: transform;
}
