.float3DCard {
  position: absolute;
  width: 200px;
  height: 200px;
  border-radius: 2em;
  transform-style: preserve-3d;
  will-change: transform;
  overflow: hidden;
}

.float3DCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
